<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Consultorios {{listaDeConsultorios}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let s of listaDeSensores">
      <p>Probando...</p>
      <h2>{{ c.dispositivo.nombreDeSensor | uppercase }}</h2>
      <p>{{ c.temperatura }}</p>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item *ngFor="let c of listaDeConsultorios">
      <p>Probando...</p>
      <h2>{{ c.name | uppercase }}</h2>
      <p>{{ c.address }}</p>
    </ion-item>
  </ion-list> -->
</ion-content>