<div *ngIf="mostrarAnimacionInicio" class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color=navBar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      
    <ion-list class="lista-semi-acordeon">

      <div *ngFor="let p of pages; let i = index;" no-padding no-lines>
        <!-- <ion-item *ngIf="!p.hasChildren" no-padding no-margin> -->
          <button *ngIf="!p.hasChildren" ion-item class="button button-full button-calm" menuClose (click)="openPage(p) || !p.hasChildren ">{{p.title}}</button>
        <!-- </ion-item> -->
        <!-- Hay que considerar que esto va a variar dependiendo del perfil, podría hacerse visible o no dependiendo del mismo, o 
      va a haber que pensar una manera de ponerlo en otra vista propia de cada perfil que no sea app-html -->
        <!-- <ion-item *ngIf="p.hasChildren" no-padding no-margin> -->
          <button *ngIf="p.hasChildren" ion-item class="button button-full button-calm" (click)="mostrarSubmenu()" details-none [ngClass]="{'seccion-activa': subMenuVisible, 'seccion': !subMenuVisible}">
            <ion-icon item-left name="arrow-forward" *ngIf="!subMenuVisible"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="subMenuVisible"></ion-icon>
            {{p.title}}
          </button>
     <!--    </ion-item> -->
        <ion-list *ngIf="subMenuVisible && p.hasChildren">
          <!-- considerar que si se tienen submenúes habría que tener otro nivel mas de control y sacar la propiedad 'menuClose' del boton para que no cierre el menu cuando se clickea -->
          <button menuClose submenu-item ion-item *ngIf="subMenuVisible" (click)="openPage(p)" class="subseccion1" no-padding no-margin>Consultorios</button>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>