<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Seleccionar horario disponible</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <!-- <button ion-item *ngFor="let linea of cantidadDeLineas; let i = index;" (click)="seleccionDeTurno(linea, $event)"> -->
      <button ion-item *ngFor="let linea of cantidadDeLineas; let i = index;" (click)="abreConfirmacionDeTurno(linea)">
      <!-- <ion-icon name="medkit" item-start></ion-icon> -->
      Horario {{linea + i }}
    </button>
  </ion-list>

</ion-content>