<ion-list>
  <ion-list-header color="dark" style="font-weight:bold; font-size: 16px;">Historia Clínica</ion-list-header>
  <ion-item>
    <ion-label color="primary" stacked>Paciente</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Edad</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Número de documento</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>N° Historia clínica</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Episodios del paciente</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item-divider color="secondary">Datos del informe</ion-item-divider>
  
  <ion-item>
    <ion-label color="primary" stacked>N° Episodio</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Fecha</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Profesional solicitante</ion-label>
    <ion-input placeholder="Sin definir" readonly="true"></ion-input>
  </ion-item>

  <ion-item-divider color="secondary">Prestaciones</ion-item-divider>

  <ion-item>
      <p style="font-weight: bold;">(42.01.01) Consulta Médica </p>
  </ion-item>

  <ion-item-divider color="secondary">Informe institucional</ion-item-divider>

  <ion-item>
      <ion-textarea placeholder="Sin definir" readonly="true"></ion-textarea>
  </ion-item>

</ion-list>