<ion-card>
  <ion-card-header>
    Pacientes
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="medkit"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="medkit"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="medkit"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <!-- <ion-avatar item-start>
            <img src="img/slimer.png">
          </ion-avatar> -->
          <h2>Abad Jimenes</h2>
          <p>Documento Numero 30191334</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="mail"></ion-icon>
            H.C.
          </button>
        </ion-item-options>
      </ion-item-sliding>


    </ion-list>
  </ion-card-content>
</ion-card>